<div class="container">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item"><%= link_to "create new family member", new_family_member_path %></li>
      <li class="list-group-item"><%= link_to "view all family members", family_members_path %></li>
    </ul>
  </div>
</div>
