body, html {
  font-family: "Gill Sans" !important;
}

.login-modal {
  margin-top: 50px;
  background-color: #f7f7f9;
  border-radius: 10px;
  padding: 10px;
}

.form-button {
  margin-top: 10px
}

.alert {
  position: fixed;
  top: 120px;
  left: 40%;
  width: 25%;
  z-index: 7000;
}

nav {
  border-bottom: #19476D 3px solid;
}

.family-title {
  background-color: red;
}

.family-modal {
  margin-top: 50px;
}

.fm-card-image {
  width: 100%
}

div.card {
  padding: 0px;
}

.fm-index {
  margin-top: 20px;
}

.custom-text-muted {
  font-size: 0.8em;
  font-weight:lighter;
  color: #ddd;
}

.custom-text-title {
  font-weight: 300;
}

.card {
  margin: 10px;
}
