.login-modal {
  margin-top: 50px;
  background-color: #f7f7f9;
  border-radius: 10px;
  padding: 10px;
}

.form-button {
  margin-top: 10px
}

.alert {
  position: fixed;
  top: 120px;
  left: 40%;
  width: 25%;
  z-index: 7000;
}

nav {
  border-bottom: #19476D 3px solid;
}

.family-title {
  background-color: red;
}

.family-modal {
  margin-top: 50px;
}

.fm-card-image {
  width: 45%;
  vertical-align: top;
  padding-right: 10px;
}

.profile-information {
  display: inline-block;
  padding-top: 2%;
}

.fam-links {
  margin-top: -5px;
  color: #888;
  & > a {
    color: #888;
    font-size: .7em;
  }
}

.fam-delete-button {
  font-size: .7em;
  color: #888;
  background: none;
  border: none;
  padding: 0;
}

.fam-links > form {
  display: inline;
}

.fm-index {
  margin-top: 20px;
  padding-left: 2px;
}

.custom-text-muted {
  font-size: 0.8em;
  font-weight:lighter;
  color: #aaa;
  margin: 0px;
  & > span {
    color: red;
  }
}

.custom-text-title {
  font-weight: 500;
  font-size: 1.2em;
  margin: 0px;
}

div.card.fam-card {
  width: 47%;
  margin: 10px;
  display: inline-block;
}

p.card-text {
  margin-bottom: 0px;
}

.main-container {
  margin-top: 75px;
}

ul.list-group {
  margin: 10px;
}
